/***************************
	1. MIXINS
***************************/

.gradient (@top: #F7F7F7, @bottom: #E5E5E5) {
	background: @top; /* Old browsers */
	background: -moz-linear-gradient(top, @top 0%, @bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @top), color-stop(100%, @bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @top 0%, @bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @top 0%, @bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @top 0%, @bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, @top 0%, @bottom 100%); /* W3C */
}

.box-shadow(@input) {
	-webkit-box-shadow: @input;
	box-shadow: @input;
}

.box-sizing(@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing: @type;
	-ms-box-sizing: @type;
	box-sizing: @type;
}

.fadeIn(@dur) {
	-webkit-animation: fadeIn linear @dur;
	-moz-animation: fadeIn linear @dur;
	-ms-animation: fadeIn linear @dur;
	-o-animation: fadeIn linear @dur;
	animation: fadeIn linear @dur;
}

@keyframes "fadeIn" {
	from { opacity: 0 }
	to { opacity: 1 }
}
@-moz-keyframes "fadeIn" {
	from { opacity: 0 }
	to { opacity: 1 }
}
@-webkit-keyframes "fadeIn" {
	from { opacity: 0 }
	to { opacity: 1 }
}
@-ms-keyframes "fadeIn" {
	from { opacity: 0 }
	to { opacity: 1 }
}
@-o-keyframes "fadeIn" {
	from { opacity: 0 }
	to { opacity: 1 }
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}